@{
    Layout = "";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link href="/static/js/pluginsPackage/bootstrap-3.3.0/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/js/pluginsPackage/swiper/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/office_efficiency_index.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>全量能耗运营分析</title>
    <script type="module" crossorigin src="/assets/index-BCZgcY0v.js"></script>
</head>
<body>
    <div id="root"></div>
    <script src="/static/js/pluginsPackage/jquery/jquery.1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/pluginsPackage/bootstrap-3.3.0/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/pluginsPackage/bootstrap-3.3.0/respond.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/pluginsPackage/swiper/swiper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/pluginsPackage/echarts/echarts.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>